@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=IBM+Plex+Serif:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600;700;800&family=Karla:ital,wght@0,400;0,600;0,700;1,400;1,500&family=Nunito+Sans:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Readex+Pro:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=IBM+Plex+Serif:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600;700;800&family=Karla:ital,wght@0,400;0,600;0,700;1,400;1,500&family=Nunito+Sans:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Readex+Pro:wght@400;500;600;700&family=Sora:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-900 p-0 m-0;
}

.img-container {
  @apply relative flex align-top justify-center fade-in-out text-center rounded-md overflow-hidden;
}

.student-name {
  @apply text-5xl text-white font-bold m-4 leading-none tracking-tight;
}

.student-college {
  @apply text-5xl text-white font-semibold leading-none tracking-tight;
}

.slide {
  @apply rounded-sm shadow-2xl shadow-blue-500/30 col-span-1;
}

.fade-in-out {
  animation: fadeInOut 7s linear 1 forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.05;
  }
}
